{% extends 'base.html' %}
{% block titulo %}Nosotros{% endblock %}
{% block modulo_name %}Lista de Libros{% endblock %}

{% block contenido %}
<h1>Lista de Libros..!</h1>
<div class="card">
  <div class="card-header">
    <div class="card-title">
      <a href="{% url 'crear' %}" class="btn btn-primary">Agregar Libro</a>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Titulo</th>
          <th scope="col">Imagen</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Djanjo</td>
          <td>Imagen.jpg</td>
          <td>libro que habla</td>
          <td>
            <div class="btn-group">
              <a class="btn btn-info btn-sm " href="{% url 'editar' %}" role="button">Editar</a>
              <a class="btn btn-danger btn-sm " href="{% url 'crear' %}" role="button">borrar</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock contenido %}